<div class="ui container">
    <div class="ui card">
        <div class="content">
			<div class="right floated meta"><a routerLink="../../notices"><i class="reply down icon"></i>Volver</a></div>
			<div class="header">Noticias <small>Form</small></div>
        </div>
        <div class="content">
			<form class="ui form" #noticeForm="ngForm" (ngSubmit)="onSubmit(noticeForm)">
				<input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="noticeService.selectedNotice.$key">
				<h4 class="ui dividing header">Información Basica</h4>
				<div class="field">
					<div class="two fields">
					<div class="field">
						<input type="text" placeholder="Titulo" name="title" #title="ngModel" [(ngModel)]="noticeService.selectedNotice.title">
					</div>
					<div class="field">
						<input type="text" placeholder="Breve Descripcion" name="shortDescription" #shortDescription="ngModel" [(ngModel)]="noticeService.selectedNotice.shortDescription">
					</div>
					</div>
				</div>
				<div class="field">
					<div class="fields">
						<div class="twelve wide field">
							<label>Url de Img</label>
							<input type="text" name="shipping[address]" placeholder="https://...." name="urlToImg" #urlToImg="ngModel" [(ngModel)]="noticeService.selectedNotice.urlToImg">
						</div>
						<div class="two wide field segment">
							<label>News:</label>
							<div class="ui fitted toggle checkbox"><input type="checkbox" name="isNews" #isNews="ngModel" [(ngModel)]="noticeService.selectedNotice.isNews"><label></label></div>
						</div>
						<div class="two wide field segment">
							<label>Activo:</label>
							<div class="ui fitted toggle checkbox"><input type="checkbox" name="active" #active="ngModel" [(ngModel)]="noticeService.selectedNotice.active"><label></label></div>
						</div>
					</div>
				</div>
				
				<h4 class="ui dividing header">Contenido</h4>
				<div class="fields">
					<div class="four wide field">
						<input type="text" name="shipping[address]" placeholder="Categoria" name="category" #category="ngModel" [(ngModel)]="noticeService.selectedNotice.category">
					</div>
					<div class="five wide field">
						<input type="text" name="shipping[address]" placeholder="#hashtags" name="hashTag" #hashTag="ngModel" [(ngModel)]="noticeService.selectedNotice.hashTag">
					</div>
				</div>
				<div class="fields">
					<div class="sixteen wide field">
						<label>Cuerpo</label>
						<ckeditor [editor]="Editor" data="<br>.<br>.<br>"></ckeditor>
					</div>
				</div>
				<button class="ui primary button" type="submit"><i class="save icon"></i> Guardar</button>
			</form>
        </div>
        <div class="extra content">
            
        </div>
    </div>
</div>