<div class="ui container">
  <div class="ui card">
      <div class="content">
          <div class="right floated meta"><i class="chevron down icon"></i></div>
          <div class="header"><i class="list icon"></i>Listado de Noticias</div>
      </div>
      <div class="content">
          <table class="ui selectable celled very compact table">
              <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Usuario</th>
                      <th>Email</th>
                      <th>Activo</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let user of list">
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="collapsing">
                        <i *ngIf="user.active" class="check circle icon blue"></i>
                        <i *ngIf="!user.active" class="times circle icon red"></i>
                    </td>
                    <td>
                        <button class="mini ui button icon" (click)="onDelete(user.$key)"><i class="times icon"></i></button>
                        <button class="mini ui button icon" routerLink="{{ user.$key }}" (click)="onEdit(user)"><i class="edit icon"></i></button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="extra content">
          <a class="ui primary button" routerLink="new"><i class="plus icon"></i> Nuevo Usuario</a>
      </div>
  </div>
</div>