<div class="ui container">
  <div class="ui card">
      <div class="content">
    <div class="right floated meta"><a routerLink="../../users"><i class="reply down icon"></i>Volver</a></div>
    <div class="header">Usuarios <small>Form</small></div>
      </div>
      <div class="content">
    <form class="ui form" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
      <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="userService.selectedUser.$key">
      <h4 class="ui dividing header">Información Basica</h4>
      <div class="field">
        <div class="fields">
          <div class="two wide field segment">
            <label>Activo:</label>
            <div class="ui fitted toggle checkbox"><input type="checkbox" name="active" #active="ngModel" [(ngModel)]="userService.selectedUser.active"><label></label></div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="two fields">
          <div class="field">
            <input type="text" placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name">
          </div>
          <div class="field">
            <input type="text" placeholder="Nombre de Usuario" name="username" #username="ngModel" [(ngModel)]="userService.selectedUser.username">
          </div>
        </div>
      </div>
      <div class="field">
        <div class="two fields">
          <div class="field">
            <input type="text" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email">
          </div>
          <div class="field">
            <input type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password">
          </div>
        </div>
      </div>
      <button class="ui primary button" type="submit"><i class="save icon"></i> Guardar</button>
    </form>
      </div>
  </div>
</div>