<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Inicio</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<!--Sidebar Menu-->
<div class="ui vertical inverted sidebar menu">
  <a class="active item">Home</a><a class="item">Work</a><a class="item">Company</a><a class="item">Careers</a><a class="item">Login</a><a class="item">Signup</a>
</div>
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item"><i class="sidebar icon"></i></a>
      <a class="active item">Inicio</a>
      <a class="item">News</a>
      <a class="item">Entretenimiento</a>
      <a class="item">Nacionales</a>
      <a class="item">Tecnologia</a>
      <a class="item">Musica</a>
      <a class="item">Deportes</a>
      <div class="right item">
        <a class="ui inverted button" routerLink="/login">Iniciar</a><a class="ui inverted button" routerLink="/register">Registrarse</a>
      </div>
    </div>
  </div>
</div>
<!--Page Contents-->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="img-header">
      <div class="ui text container">
        <h1 class="ui inverted header">
          Notiweb
        </h1>
        <h2>
          Bienvenido! Estamos estrenando sitio web.
        </h2>
        <div class="ui huge primary button">
          ver News<i class="right arrow icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row" *ngFor="let notice of list">
        <div class="eight wide column">
          <h3 class="ui header"> {{ notice.title }} </h3>
          <p> {{ notice.shortDescription }} </p>
        </div>
        <div class="six wide right floated column">
          <img class="ui large bordered rounded image" src="{{ notice.urlToImg }}" />
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Ver más</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>
            "What a Company"
          </h3>
          <p>
            That is what they all say about us
          </p>
        </div>
        <div class="column">
          <h3>
            "I shouldn't have gone with their competitor."
          </h3>
          <p>
            <img class="ui avatar image" src="../../static/images/templates/semantic-ui/avatar/nan.jpg" /><b>Nan</b>Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">
        Breaking The Grid, Grabs Your Attention
      </h3>
      <p>
        Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.
      </p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="homepage.html#"> Case Studies</a>
      </h4>
      <h3 class="ui header">
        Did We Tell You About Our Bananas?
      </h3>
      <p>
        Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.
      </p>
      <a class="ui large button">I'm Still Quite Interested</a>
    </div>
  </div>
  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">
            Acerca de
          </h4>
          <div class="ui inverted link list">
            <a class="item" href="homepage.html#"> El sitio</a>
            <a class="item" href="homepage.html#"> Contactanos</a>
            <a class="item" href="homepage.html#"> Eventos</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">
            Servicios
          </h4>
          <div class="ui inverted link list">
            <a class="item" href="homepage.html#"> Contenidos</a>
            <a class="item" href="homepage.html#"> Cursos</a>
            <a class="item" href="homepage.html#"> Asociarse</a>
            <a class="item" href="homepage.html#"> Suscripciones</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">
            Notiweb
          </h4>
          <p>
            © Todos los derechos reservados.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document)
    .ready(function() {
      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;
  
      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;
    })
  ;
</script>