<div class="ui container">
  <div class="ui card">
      <div class="content">
          <div class="right floated meta"><i class="chevron down icon"></i></div>
          <div class="header"><i class="list icon"></i>Listado de Noticias</div>
      </div>
      <div class="content">
          <table class="ui selectable celled very compact table">
              <thead>
                  <tr>
                      <th>Titulo</th>
                      <th>Fecha</th>
                      <th>Categoria</th>
                      <th>Activo</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let notice of list">
                    <td>{{ (notice.title | slice:0:25) + '...' }}</td>
                    <td>No Action</td>
                    <td>{{ notice.category }}</td>
                    <td class="collapsing">
                        <i *ngIf="notice.active" class="check circle icon blue"></i>
                        <i *ngIf="!notice.active" class="times circle icon red"></i>
                    </td>
                    <td>
                        <button class="mini ui button icon" (click)="onDelete(notice.$key)"><i class="times icon"></i></button>
                        <button class="mini ui button icon" routerLink="{{ notice.$key }}" (click)="onEdit(notice)"><i class="edit icon"></i></button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="extra content">
          <a class="ui primary button" routerLink="new"><i class="plus icon"></i> Nueva Noticia</a>
      </div>
  </div>
</div>