<div class="ui container">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <img src="https://semantic-ui.com/examples/assets/images/logo.png" class="image">
        <div class="content">
          Iniciar Session
        </div>
      </h2>
      <form class="ui large form" (submit)="onSubmitLogin()">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password">
            </div>
          </div>
          <button type="submit" class="ui fluid large teal submit button">Entrar</button>
        </div>
  
        <div class="ui error message"></div>
  
      </form>
  
      <div class="ui message">
        Eres nuevo? <a routerLink="../register">Registrate</a>
      </div>
    </div>
  </div>
</div>