<div class="ui left fixed vertical menu">
    <div class="item">
      <img class="ui mini image" src="https://semantic-ui.com/images/logo.png">
    </div>
    <div class="item">
      <div class="ui input"><input type="text" placeholder="Buscar..."></div>
    </div>
    <a class="item disabled">
      <h5 class="ui header"><u>Herramientas</u></h5>
    </a>
    <a class="item" routerLink="sections" routerLinkActive="active">
      <i class="user outline icon"></i> Secciones
    </a>
    <a class="item" routerLink="notices" routerLinkActive="active">
      <i class="file alternate outline icon"></i> Noticias
    </a>
    <a class="item" routerLink="users" routerLinkActive="active">
      <i class="user outline icon"></i> Usuario
    </a>
    <a class="item">
      <i class="file archive outline icon"></i> Archivos
    </a>
    <div class="ui left pointing simple dropdown link item">
        <i class="dropdown icon"></i>
        Session
        <div style="top: 0px !important;" class="menu">
          <a class="item" routerLink="/logout" (click)="onClickLogout()">
              <i class="sign-out icon"></i> Logout
          </a>
        </div>
      </div>
  </div>